@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
html,
body {
  font-family: "Roboto", sans-serif;
}

/* .forumBtn .forumCreate,
.forumList {
  border-color: white;
  border-style: solid;
  border-radius: 30px;
  width: 100px;
  padding: 5px;
  margin-bottom: 4rem;
  margin-right: 20px;
} */
.forumCreate a,
.forumList a {
  text-decoration: none;
  color: white;
}

.forumBtnContainer {
  display: flex;
  justify-content: space-between;
  width: 300px;
}

.forumBtn p {
  color: white;
}
.forumBtn1 .forumCreate {
  border-color: white;
  border-style: solid;
  border-radius: 30px;
  width: 100px;
  padding: 5px;
  margin-right: 20px;
}

.forumBtn2 .forumList {
  border-color: white;
  border-style: solid;
  border-radius: 30px;
  width: 150px;
  padding: 5px;
  margin-right: 20px;
}

.community .container .communityAuthor {
  color: white;
  text-align: left;
  margin: 0;
  align-items: left;
  font-style: italic;
  font-size: 13px;
  padding-left: 0.5rem;
  margin-top: 5px;
}
.community .communityContainer .communityTitlePrice {
  margin-top: 5px;
}

.community .container .communityBlurb .communityRating {
  font-size: 13px;
}

.community .container .communityTags .communityTag {
  color: grey;
  font-style: italic;
  font-size: 12px;
}
.community .container .communityPrice {
  font-size: 15px;
  margin: 0;
  text-align: right;
  align-items: right;
}

.community .container .communityTitle {
  font-size: 20px;
}

.community .trendingCommunity {
  margin-top: 50px;
}

.community .trendingCommunity {
  padding-bottom: 200px;
}

.community .trendingCommunity .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.communityContainer {
  width: 300px;
  /* background-color: rgb(61, 61, 61); */
}

.communityContainer .communityImageContainer {
  /* display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  grid-template-rows: repeat(6, 200px);
  grid-gap: 1rem;
  grid-auto-flow: dense; */

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  grid-template-rows: repeat(6, 200px);
  grid-gap: 1rem;
  grid-auto-flow: dense;
}

.communityImageContainer img {
  /* display: flex;
  flex-wrap: wrap;
  width: 200px; */
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}

.communityContainer .communityTitle {
  color: white;
  text-align: left;
  padding-left: 0.5rem;
  margin: 0;
  align-items: left;
}

.communityContainer .communityTime {
  padding-right: 0.5rem;
  color: rgb(204, 204, 204);
}

.communityBlurb {
  color: white;
  margin-top: -1rem;
  padding-bottom: 2rem;
  padding-right: 0.5rem;
  font-style: italic;
}

.community .container {
  margin-left: 50px;
}

.trendingCommunity h4 {
  color: white;
  text-align: left;
  margin-left: 50px;
  font-size: 20px;
}

.communityImg {
  height: 200px;
}

.community .bannerBackground {
  width: 100%;
  height: 350px;
  background-repeat: no-repeat;
  margin-top: -32rem;
}

.community .forumposts {
  display: grid;
  grid-template-columns: 40% 60%;
  margin-top: 50px;
  height: 100px;
  padding-left: 50px;
  padding-right: 50px;
}

.community .forumposts .postImg .communityImg {
  width: 100%;
}

.community .forumposts .post {
  border: 1px solid grey;
  padding-left: 10px;
}

.community .forumposts .post .postTitle {
  color: white;
  text-align: left;
  font-size: 30px;
}

.community .forumposts .post .postAuthor {
  color: white;
  text-align: left;
  font-size: 15px;
}

.community .forumposts .post .postTitle {
  color: white;
  text-align: left;
}

.community .forumposts .post .likeComments {
  color: white;
}
