.title {
  color: white;
}
.steps {
  color: white;
  display: flex;
  margin-left: 5rem;
}

.uploadInfo {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.uploadImage .image {
  width: 400px;
  height: 400px;
  margin-left: 5rem;
}

.uploadData {
  color: white;
  margin-left: 4rem;
  text-align: start;
}

.uploadButn {
  display: flex;
  margin-top: 1rem;
  margin-left: 15rem;
  padding-bottom: 1rem;
}
.sell {
  color: white;
  display: flex;
  margin-left: 5rem;
}

.sell .price {
  display: flex;
  margin-left: 1rem;
}

.sell .price input {
  width: 100px;
  height: 25px;
}
.notForSale {
  color: white;
  display: flex;
  margin-left: 5rem;
}

.TOS1 {
  display: flex;
  color: white;
  margin-left: 5rem;
  margin-top: 3rem;
}

.TOS2 {
  display: flex;
  color: white;
  margin-left: 5rem;
}

.upload .editPageButns {
  color: white;
  margin-right: auto;
  order: 2;
  display: flex;
}
.error {
  background: #fe5421;
  background: rgba(245, 41, 41, 0.1);
  color: rgba(245, 41, 41, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
}

.upload .editPageButns .cancel {
  margin-bottom: 4rem;
  width: 100px;
}

.upload .editPageButns .submit {
  margin-bottom: 4rem;
  margin-left: 2rem;
  width: 100px;
}

.editPageButns a {
  text-decoration: none;
  color: white;
}
.submit:disabled {
  background-color: red !important;
}
.cancel {
  width: 100%;
  height: 50px;
  color: white;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: black;
  border: solid;
  border-radius: 2rem;
  cursor: pointer;
  margin-top: 15px;
  margin-left: auto;
  order: 2;
  display: flex;
}
.submit {
  width: 100%;
  height: 50px;
  color: white;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: black;
  border: solid;
  border-radius: 2rem;
  cursor: pointer;
  margin-top: 15px;
  margin-left: auto;
  order: 2;
  display: flex;
  margin-right: 50px;
}

.upload .form .uploadInfo .uploadData .postName input {
  background: white;
  color: black;
  width: 400px;
  border-radius: 10px;
  height: 25px;
  border: none;
  outline: none;
  margin-bottom: 30px;
}

.upload .form .uploadInfo .uploadData .tags select {
  margin-bottom: 30px;
}

.upload .form .uploadInfo .uploadData .descriptions input {
  background: white;
  color: black;
  width: 400px;
  word-wrap: break-word;
  border-radius: 10px;
  height: 60px;
  border: none;
  outline: none;
}

@media only screen and (max-width: 937px) {
  .uploadInfo {
    grid-template-columns: 1fr;
    text-align: center;
    align-items: center;
  }
  .uploadData {
    text-align: center;
    align-items: center;
  }
  .descriptions {
    margin-bottom: 50px;
  }
}

@media only screen and (max-width: 830px) {
  .upload .form .uploadInfo .uploadData .postName input {
    width: 250px;
    height: 25px;
  }

  .upload .form .uploadInfo .uploadData .descriptions input {
    width: 250px;
    border-radius: 10px;
    height: 60px;
  }
}

@media only screen and (max-width: 670px) {
  .upload .form .uploadInfo .uploadData .postName input {
    width: 200px;
    height: 25px;
  }

  .upload .form .uploadInfo .uploadData .descriptions input {
    width: 200px;
    border-radius: 10px;
    height: 60px;
  }
}
