@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

html,
body {
  background: #151313;
  font-family: "Roboto", sans-serif;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

/* Carousel */
.home .homeCarousel {
  padding-top: 20px;
}

.carouselImg {
  width: 550px;
  height: 600px;
}

.react-multi-carousel-item:hover {
  transform: translate(0, -10px);
}
.react-multi-carousel-item {
  max-width: 530px;
  transition: all 0.8s ease;
}

.home .marketContainer:hover {
  transform: scale(1.03);
}
.home .marketContainer {
  max-width: 530px;
  transition: all 0.8s ease;
}

.home .communityContainer:hover {
  transform: scale(1.02);
}
.home .communityContainer {
  max-width: 530px;
  transition: all 0.8s ease;
}

/* Explore Trending Latest Feature */

.exploreTrendingLatest .feedBtns {
  padding-top: 50px;
  margin-bottom: 50px;
}

.exploreTrendingLatest .feedBtns .feedExploreBtn {
  width: 200px;
  height: 50px;
  margin-right: 50px;
  color: white;
  font-size: 20px;
  letter-spacing: 3px;
  margin-left: 50px;
}
.exploreTrendingLatest .feedBtns .feedLatestBtn {
  width: 200px;
  height: 50px;
  margin-right: 50px;
  color: white;
  font-size: 20px;
  letter-spacing: 3px;
}

.exploreTrendingLatest .feedBtns .feedTrendingBtn {
  width: 200px;
  height: 50px;
  margin-right: 50px;
  color: white;
  font-size: 20px;
  letter-spacing: 3px;
  margin-bottom: 20px;
}

.feed .feedImg {
  width: 400px;
  height: 250px;
  padding-bottom: 20px;
}

/* New On Learning +  Trending on the Marketplace */

.learningImageContainer,
.marketImageContainer {
  width: 100%;
}

.learningImageContainer img,
.marketImageContainer {
  width: 100%;
}

.learningDiv,
.marketDiv {
  margin-top: 10px;
  color: white;
}

.home .newLearning .container,
.home .trendingMarket .container,
.home .communityContainers .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.learningContainer,
.marketContainer,
.communityContainer {
  width: 300px;
}

.learningContainer .learningTitle,
.marketContainer .marketTitle,
.communityContainers .communityhomeTitle {
  color: white;
  text-align: left;
  margin: 0;
  align-items: left;
}

.learningContainer .learningTitle {
  font-size: 20px;
  margin-top: 5px;
}

.learningBlurb p {
  font-size: 13px;
}

.learningBlurb p,
.marketBlurb {
  color: white;
  font-style: italic;
}

.home .container,
.home .communityContainers h4 {
  margin-left: 50px;
}

.home .communityContainers h4 {
  margin-top: 100px;
}
.newLearning h4,
.trendingMarket h4,
.communityContainers h4 {
  color: white;
  text-align: left;
  margin-left: 50px;
  font-size: 20px;
}

.learningImg,
.marketImg {
  height: 200px;
}

.home .communityContainer .communityImg{
  height: 200px;
}
/* Styling the Marketplace */
.trendingMarket .container .marketAuthor {
  color: white;
  text-align: left;
  margin: 0;
  align-items: left;
  font-style: italic;
  font-size: 13px;
  margin-top: 5px;
}
.trendingMarket .marketContainer .marketTitlePrice {
  margin-top: 5px;
}

.trendingMarket .container .marketBlurb .marketRating {
  font-size: 13px;
}

.trendingMarket .container .marketPrice {
  font-size: 15px;
  margin: 0;
  text-align: right;
  align-items: right;
}

.trendingMarket .container .marketTitle {
  font-size: 20px;
}

.home .trendingMarket {
  margin-top: 50px;
}

.react-multi-carousel-list {
  padding-bottom: 50px;
}

@media only screen and (max-width: 1555px) {
  .list .items {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .trendingMarket h4 {
    margin-top: 100px;
  }
}
@media only screen and (max-width: 1205px) {
  .list .items {
    grid-template-columns: 1fr 1fr;
  }

  .trendingMarket h4 {
    margin-top: 100px;
  }
}

@media only screen and (max-width: 835px) {
  .list .items {
    grid-template-columns: 1fr;
  }

  .youtube-video {
    width: 50%;
    height: 30%;
  }

  .trendingMarket h4 {
    margin-top: 100px;
  }
}

@media only screen and (max-width: 1811px) {
  .react-multi-carousel-item {
    max-width: 530px;
  }

  .feed .feedImg {
    width: 300px;
    height: 200px;
    padding-bottom: 20px;
  }
}

@media only screen and (max-width: 1581px) {
  .react-multi-carousel-item {
    max-width: 530px;
  }
  .carouselImg {
    width: 530px;
    height: 500px;
  }
}
@media only screen and (max-width: 1451px) {
  .feed .feedImg {
    width: 250px;
    height: 200px;
    padding-bottom: 20px;
  }
  .react-multi-carousel-item {
    max-width: 530px;
  }
  .carouselImg {
    width: 500px;
    height: 500px;
  }
}

@media only screen and (max-width: 1396px) {
  .carouselImg {
    width: 450px;
    height: 500px;
  }
  .react-multi-carousel-item {
    max-width: 510px;
  }
  .feed .feedImg {
    width: 250px;
    height: 200px;
    padding-bottom: 20px;
  }
}

@media only screen and (max-width: 1283px) {
  .carouselImg {
    width: 420px;
    height: 450px;
  }
}

@media only screen and (max-width: 1207px) {
  .feed .feedImg {
    width: 200px;
    height: 200px;
    padding-bottom: 20px;
  }
}

@media only screen and (max-width: 1148px) {
  .carouselImg {
    width: 380px;
    height: 400px;
  }
}

@media only screen and (max-width: 1024px) {
  .carouselImg {
    width: 500px;
    height: 500px;
  }
}

@media only screen and (max-width: 1101px) {
  .feed .feedImg {
    width: 150px;
    height: 150px;
  }
}

@media only screen and (max-width: 915px) {
  ul li {
    margin-right: 20px;
  }
  .carouselImg {
    width: 450px;
    height: 480px;
  }
}

@media only screen and (max-width: 880px) {
  .carouselImg {
    width: 430px;
    height: 450px;
  }
  ul li {
    margin-right: 20px;
  }
}

@media only screen and (max-width: 824px) {
  .carouselImg {
    width: 400px;
    height: 450px;
  }
}

@media only screen and (max-width: 756px) {
  .carouselImg {
    width: 350px;
    height: 400px;
  }
}

@media only screen and (max-width: 713px) {
  .feed .feedImg {
    width: 130px;
    height: 300px;
  }
}

@media only screen and (max-width: 670px) {
  .carouselImg {
    width: 320px;
    height: 350px;
  }
}

@media only screen and (max-width: 488px) {
  .carouselImg {
    width: 450px;
    height: 450px;
  }
}

@media only screen and (max-width: 627px) {
  ul li {
    margin-right: 10px;
  }
}

@media only screen and (max-width: 811px) {
  .exploreTrendingLatest .feedBtns .feedExploreBtn {
    width: 150px;
    height: 50px;
    margin-right: 50px;
    color: white;
    font-size: 20px;
    letter-spacing: 3px;
    margin-left: 50px;
  }
  .exploreTrendingLatest .feedBtns .feedLatestBtn {
    width: 150px;
    height: 50px;
    margin-right: 50px;
    color: white;
    font-size: 20px;
    letter-spacing: 3px;
  }

  .exploreTrendingLatest .feedBtns .feedTrendingBtn {
    width: 150px;
    height: 50px;
    margin-right: 50px;
    color: white;
    font-size: 20px;
    letter-spacing: 3px;
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 653px) {
  .exploreTrendingLatest .feedBtns .feedExploreBtn {
    width: 130px;
    height: 50px;
    margin-right: 30px;
    color: white;
    font-size: 18px;
    letter-spacing: 3px;
    margin-left: 50px;
  }
  .exploreTrendingLatest .feedBtns .feedLatestBtn {
    width: 130px;
    height: 50px;
    margin-right: 30px;
    color: white;
    font-size: 18px;
    letter-spacing: 3px;
  }

  .exploreTrendingLatest .feedBtns .feedTrendingBtn {
    width: 130px;
    height: 50px;
    margin-right: 30px;
    color: white;
    font-size: 18px;
    letter-spacing: 3px;
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 541px) {
  .exploreTrendingLatest .feedBtns .feedExploreBtn {
    width: 110px;
    height: 50px;
    margin-right: 30px;
    color: white;
    font-size: 15px;
    letter-spacing: 3px;
    margin-left: 50px;
  }
  .exploreTrendingLatest .feedBtns .feedLatestBtn {
    width: 110px;
    height: 50px;
    margin-right: 30px;
    color: white;
    font-size: 15px;
    letter-spacing: 3px;
  }

  .exploreTrendingLatest .feedBtns .feedTrendingBtn {
    width: 110px;
    height: 50px;
    margin-right: 30px;
    color: white;
    font-size: 15px;
    letter-spacing: 3px;
    margin-bottom: 20px;
  }
}

/* Community styling */
.home .communityContainers .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  color: white;
}
.home .communityContainers {
  margin-bottom: 50px;
}

.home .communityContainers .container .communityImg {
  width: 300px;
}
.home .communityContainers .container .communityContainer {
  width: 300px;
  padding-top: 50px;
  background-color: #151313;
}

@media only screen and (max-width: 1324px) {
  .home .communityContainers .container .communityImg {
    width: 250px;
  }
  .home .communityContainers .container .communityContainer {
    width: 250px;
    padding-top: 50px;
    background-color: #151313;
  }
  .home .trendingMarket .container .marketContainer {
    width: 250px;
  }
  .home
    .trendingMarket
    .container
    .marketContainer
    .marketImageContainer
    .marketImg {
    width: 250px;
  }
}

@media only screen and (max-width: 1096px) {
  .home .communityContainers .container .communityImg {
    width: 200px;
    height: 180px;
  }
  .home .communityContainers .container .communityContainer {
    width: 200px;
    padding-top: 50px;
    background-color: #151313;
  }

  .home .trendingMarket .container .marketContainer {
    width: 200px;
    height: 180px;
    padding-bottom: 50px;
  }
  .home
    .trendingMarket
    .container
    .marketContainer
    .marketImageContainer
    .marketImg {
    width: 200px;
  }
}

@media only screen and (max-width: 950px) {
  .home .communityContainers .container .communityImg {
    width: 180px;
    height: 180px;
  }
  .home .communityContainers .container .communityContainer {
    width: 180px;
    padding-top: 50px;
    background-color: #151313;
  }
  .home .trendingMarket .container .marketContainer {
    width: 180px;
    height: 180px;
    padding-bottom: 50px;
  }
  .home
    .trendingMarket
    .container
    .marketContainer
    .marketImageContainer
    .marketImg {
    width: 180px;
  }
}

@media only screen and (max-width: 890px) {
  .home .communityContainers .container .communityImg {
    width: 300px;
    height: 300px;
  }
  .home .communityContainers .container .communityContainer {
    width: 300px;
    padding-top: 50px;
    background-color: #151313;
  }
  .home .communityContainers .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: white;
  }
  .home .trendingMarket .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 20px;
  }
  .home .trendingMarket .container .marketContainer {
    width: 300px;
    height: 300px;
    padding-bottom: 50px;
  }
  .home
    .trendingMarket
    .container
    .marketContainer
    .marketImageContainer
    .marketImg {
    width: 300px;
  }
}

@media only screen and (max-width: 706px) {
  .home .communityContainers .container .communityImg {
    width: 250px;
    height: 250px;
  }
  .home .communityContainers .container .communityContainer {
    width: 250px;
    padding-top: 50px;
    background-color: #151313;
  }
  .home .communityContainers .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: white;
  }
  .home .trendingMarket .container .marketContainer {
    width: 250px;
    height: 250px;
    padding-bottom: 50px;
  }
  .home
    .trendingMarket
    .container
    .marketContainer
    .marketImageContainer
    .marketImg {
    width: 250px;
  }
}

@media only screen and (max-width: 706px) {
  .home .communityContainers .container .communityImg {
    width: 200px;
    height: 200px;
  }
  .home .communityContainers .container .communityContainer {
    width: 200px;
    padding-top: 50px;
    background-color: #151313;
  }
  .home .communityContainers .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: white;
  }

  .home .trendingMarket .container .marketContainer {
    width: 200px;
    height: 200px;
    padding-bottom: 50px;
  }
  .home
    .trendingMarket
    .container
    .marketContainer
    .marketImageContainer
    .marketImg {
    width: 200px;
  }
  .communityTime {
    font-size: 10px;
    text-align: right;
   
  }
}

@media only screen and (max-width: 515px) {
  .home .trendingMarket .container .marketContainer {
    width: 180px;
    margin-top:50px;
    padding-bottom: 50px;
  }
  .home
    .trendingMarket
    .container
    .marketContainer
    .marketImageContainer
    .marketImg {
    width: 180px;
  }
  .home .communityContainers .container .communityImg {
    width: 180px;
    height: 180px;
  }
  .home .communityContainers .container .communityContainer {
    width: 180px;
    padding-top: 50px;
    background-color: #151313;
  }
}

ul {
  white-space: nowrap;
}

ul,
li,
listing {
  list-style: none;
  display: inline;
  margin-right: 50px;
}

.home .communityContainers .communityAuthor{
  padding-left: 0.5rem;
}