@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

html,
body {
  background: #151313;
  font-family: "Roboto", sans-serif;
}

/* Carousel */
.home .homeCarousel {
  padding-top: 20px;
}

ul {
  white-space: nowrap;
}

ul,
li {
  list-style: none;
  display: inline;
  margin-right: 50px;
}

.carouselImg {
  width: 400px;
  height: 500px;
}

/* Explore Trending Latest Feature */

.exploreTrendingLatest .feedBtns {
  float: left;
  padding-top: 50px;
}

.exploreTrendingLatest .feedBtns .feedExploreBtn {
  width: 200px;
  height: 60px;
  margin-right: 50px;
  color: white;
  font-size: 20px;
  letter-spacing: 2px;
  margin-left: 50px;
}
.exploreTrendingLatest .feedBtns .feedLatestBtn {
  width: 200px;
  height: 60px;
  margin-right: 50px;
  color: white;
  font-size: 20px;
  letter-spacing: 2px;
}
.exploreTrendingLatest .feedBtns .feedTrendingBtn {
  width: 200px;
  height: 60px;
  margin-right: 50px;
  color: white;
  font-size: 20px;
  letter-spacing: 2px;
  margin-bottom: 50px;
}

.feedImg {
  width: 300px;
  height: 200px;
  padding-bottom: 50px;
}

/* New On Learning +  Trending on the Marketplace */

.learningImageContainer,
.marketImageContainer {
  width: 100%;
}

.learningImageContainer img,
.marketImageContainer {
  width: 100%;
}

.learningDiv,
.marketDiv {
  margin-top: 10px;
  color: white;
}

.home .newLearning .container,
.home .trendingMarket .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.learningContainer,
.marketContainer {
  width: 300px;
}

.learningContainer .learningTitle,
.marketContainer .marketTitle {
  color: white;
  text-align: left;
  margin: 0;
  align-items: left;
}

.learningContainer .learningTitle{
    font-size: 20px;
    margin-top:5px;
}

.learningBlurb p{
    font-size: 13px;
}

.learningBlurb p,
.marketBlurb {
  color: white;
  font-style: italic;
}

.home .container {
  margin-left: 50px;
}
.newLearning h4,
.trendingMarket h4 {
  color: white;
  text-align: left;
  margin-left: 50px;
  font-size: 20px;
}


.learningImg,
.marketImg {
  height: 200px;
}

/* Styling the Marketplace */
.trendingMarket .container .marketAuthor {
  color: white;
  text-align: left;
  margin: 0;
  align-items: left;
  font-style: italic;
  font-size: 13px;
  margin-top: 5px;
}
.trendingMarket .marketContainer .marketTitlePrice {
  margin-top: 5px;
}

.trendingMarket .container .marketBlurb .marketRating {
  font-size: 13px;
}

.trendingMarket .container .marketPrice {
  font-size: 15px;
  margin:0;
  text-align: right;
  align-items: right;
}

.trendingMarket .container .marketTitle {
  font-size: 20px;
}

.home .trendingMarket{
    margin-top: 50px;
}