@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

html,body{
    background: #151313;
    font-family: "Roboto", sans-serif;
}

.home .homeCarousel{
    padding-top: 20px;
}

ul {
    white-space: nowrap;
}
  
ul, li {
    list-style: none;
    display: inline;
    margin-right: 50px;
}

.carouselImg{
    width: 400px;
    height: 500px;
}

.exploreTrendingLatest .feedBtns{
    float:left;
    padding-top:50px;
}

.exploreTrendingLatest .feedBtns .feedExploreBtn{
    width: 200px;
    height: 60px;
    margin-right: 50px;
    color:white;
    font-size: 20px;
    letter-spacing: 2px;
    margin-left: 50px;
}
.exploreTrendingLatest .feedBtns .feedLatestBtn{
    width: 200px;
    height: 60px;
    margin-right: 50px;
    color:white;
    font-size: 20px;
    letter-spacing: 2px;
}
.exploreTrendingLatest .feedBtns .feedTrendingBtn{
    width: 200px;
    height: 60px;
    margin-right: 50px;
    color:white;
    font-size: 20px;
    letter-spacing: 2px;
    margin-bottom: 50px;
}

.feedImg{
    width: 300px;
    height: 200px;
    padding-bottom: 50px;
}

