.title {
  display: flex;
  margin-left: 2rem;
}

.user .banner img {
  display: flex;

  width: 100%;
  padding-top: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.user .profilePic img {
  max-width: 100px;
  border-radius: 50%;
  z-index: 1;
}

.user .profilePic {
  display: flex;
  margin-left: 2rem;
  margin-top: 1rem;
}

.user .userInfo {
  display: flex;
  color: white;
}

.user .userInfo .username {
  display: flex;
  font-size: medium;
  margin-left: 8rem;
  margin-top: 1rem;
}

.user .commentsUserInfo {
  display: flex;
  color: white;
}

.user .commentsUserInfo {
  display: flex;
  color: white;
}

.user .commentsUserInfo .name {
  margin-left: 2rem;
  margin-top: 1rem;
  text-align: left;
}
.user .commentsUserInfo .name .commentDes {
  display: flex;
  margin-top: -1rem;
  text-align: left;
}

@media only screen and (max-width: 1050px) {
  .user .userInfo .profilePic .profileImg {
    width: 100%;
    height: auto;
  }
}
