.user .banner {
  display: flex;
  color: white;
  margin-left: 2rem;
}

.user .banner p {
  margin-top: 4rem;
}

.user .banner img {
  display: flex;
  width: 20%;
}

.user .profilePic img {
  width: 145px;
  height: 135px;
  border-radius: 50%;
  z-index: 1;
}

.user .profilePic {
  display: flex;
  margin-left: 2rem;
  margin-top: 1rem;
}

.user .userInfo {
  display: flex;
  align-items: baseline;
  color: white;
}
.user .userInfo .userImage {
  padding-right: 2rem;
}
.user .userInfo .nameInfo {
  margin-top: 2rem;
  text-align: left;
}

.user .userInfo .name {
  display: flex;
  justify-content: space-between;
  width: 310px;
  font-size: medium;
  margin-left: 0rem;
}

.user .userInfo .username {
  display: flex;
  justify-content: space-between;
  width: 310px;
  margin-top: 1.5rem;
  margin-left: 0rem;
}

.user .userInfo .name input {
  width: 180px;
}

.user .userInfo .username input {
  width: 180px;
}
.user .userInfo .nameInfo .nameUsername {
  padding-top: 1rem;
}

.user .nameInfo .bio {
  margin-top: 5rem;
}

.user .nameInfo .bioDescription {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 250px;
  margin-top: -1rem;
  margin-left: -4rem;
}
.user .bio input {
  width: 520px;
  margin-left: -2rem;
}

.user .bio .description {
  font-size: medium;
}

/* .user .userInfo .nameInfo .bio input {
  padding: 0rem;
  font-size: small;
} */

.user .description {
  text-align: left;
  font-size: large;
  margin-top: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  color: white;
}

.user .uploadButn {
  display: flex;
  margin-left: 4.5rem;
}

.user .uploadButn2 {
  display: flex;
  margin-left: 2rem;
}

.user .portfolioArea .editPageButns .editPortfolio p {
  padding-left: 4rem;
  padding-right: 4rem;
}
.user .portfolioArea .editPageButns .editProfile p {
  padding-left: 4rem;
  padding-right: 4rem;
}

.user .pictureArea {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  justify-items: center;
  grid-gap: 10px;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
  margin-top: -2rem;
}

.image img {
  object-fit: cover;
  width: 100%;
  height: 33vh;
}

.user .SaveCancel {
  display: flex;
  margin-top: 3rem;
  margin-left: 60rem;
}
.user .SaveCancel a {
  text-decoration: none;
  color: white;
}
.user .SaveCancel .submit {
  margin-left: 2rem;
}

.user .textSpace {
  display: flex;
  padding-left: 2rem;
  padding-right: 2rem;
}

.user .submitButn {
  display: flex;
  padding-top: 1rem;
  padding-left: 2rem;
}

.userInfo .socialMediaEdit {
  margin-left: 30rem;
  margin-top: 2rem;
}

.userInfo .socialMediaEdit .media {
  margin-left: -23rem;
}

.userInfo .socialMediaEdit .media .Instagram {
  display: flex;
  justify-content: space-between;
  width: 230px;
  padding-top: 1rem;
}
.userInfo .socialMediaEdit .media .Facebook {
  display: flex;
  justify-content: space-between;
  width: 230px;
  padding-top: 1rem;
}
.userInfo .socialMediaEdit .media .Twitter {
  display: flex;
  justify-content: space-between;
  width: 230px;
  padding-top: 1rem;
}

.userInfo .socialMediaEdit .media .Instagram input {
  width: 180px;
}
.userInfo .socialMediaEdit .media .Facebook input {
  width: 180px;
}
.userInfo .socialMediaEdit .media .Twitter input {
  width: 180px;
}

.userInfo .socialMediaEdit .media .socialMediaTitle {
  display: flex;
}

.user .bannerImage {
  margin-left: -19rem;
}

.user .bannerTitle {
  margin-left: 3.5rem;
}
