.user .banner {
  display: flex;
  color: white;
  margin-left: 2rem;
}

.user .banner p {
  margin-top: 4rem;
}

.user .banner img {
  display: flex;
  width: 20%;
}

.user .profilePic img {
  width: 145px;
  height: 135px;
  border-radius: 50%;
  z-index: 1;
}

.user .profilePic {
  display: flex;
  margin-left: 2rem;
  margin-top: 1rem;
}

.user .userInfo {
  display: flex;
  color: white;
}
.user .userInfo .nameInfo {
  margin-top: 2rem;
  text-align: left;
}

.user .userInfo .name {
  margin-left: 3rem;

  font-size: medium;
}
.user .userInfo .name .username {
  padding-top: 1rem;
  margin-left: 0rem;
  font-size: medium;
}

.user .description {
  text-align: left;
  font-size: large;
  margin-top: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  color: white;
}

.user .uploadButn {
  display: flex;
  margin-left: 4.5rem;
}

.user .uploadButn2 {
  display: flex;
  margin-left: 2rem;
}

.user .portfolioArea .editPageButns .editPortfolio p {
  padding-left: 4rem;
  padding-right: 4rem;
}
.user .portfolioArea .editPageButns .editProfile p {
  padding-left: 4rem;
  padding-right: 4rem;
}

.user .pictureArea {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  justify-items: center;
  grid-gap: 10px;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
  margin-top: -2rem;
}

.image img {
  object-fit: cover;
  width: 100%;
  height: 33vh;
}

.user .SaveCancel {
  display: flex;
  margin-top: 3rem;
  margin-left: 60rem;
}
.user .SaveCancel .saveButn {
  margin-left: 2rem;
}

.user .textSpace {
  display: flex;
  padding-left: 2rem;
  padding-right: 2rem;
}

.user .submitButn {
  display: flex;
  padding-top: 1rem;
  padding-left: 2rem;
}

.userInfo .socialMediaEdit {
  margin-left: 30rem;
  margin-top: 2rem;
}

.userInfo .socialMediaEdit .media .Facebook {
  padding-top: 1rem;
}
.userInfo .socialMediaEdit .media .Twitter {
  padding-top: 1rem;
}
