.user .banners img {
  display: flex;
  width: 100%;
  height: 25rem;
}

.user .profilePic img {
  width: 145px;
  height: 135px;
  border-radius: 50%;
  z-index: 1;
}

.user .profilePic {
  display: flex;
  margin-left: 2rem;
  margin-top: 1rem;
}

.user .userInfo {
  display: flex;
  color: white;
}

.user .userInfo .name {
  margin-left: 2rem;
  font-size: 24px;
}
.user .userInfo .name .username {
  display: flex;
  margin-top: -2.5rem;
  font-size: 15px;
  color: #999898;
}

.user .description {
  text-align: left;
  font-size: large;
  margin-top: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  color: white;
}
.user .portfolioArea .Portfolio {
  float: left;
}

.user .portfolioArea .editPageButns {
  float: right;
}
.user .portfolioArea {
  color: white;
  display: flex;
  padding-left: 2rem;
  margin: 0 auto;
  flex-grow: 0;
  flex-shrink: 0;
  overflow: auto;
  flex-basis: 40px;
  margin-bottom: 48px;
}

.user .portfolioArea .editPageButns {
  margin-left: auto;
  order: 2;
  display: flex;
}

.user .portfolioArea .editPageButns .editPortfolio {
  border-color: white;
  border-style: solid;
  border-radius: 30px;
  width: 100px;
  padding: 5px;
  margin-bottom: 4rem;
  margin-right: 20px;
}

.user .portfolioArea .editPageButns .editProfile {
  border-color: white;
  border-style: solid;
  border-radius: 30px;
  width: 100px;
  padding: 5px;
  margin-bottom: 4rem;
  margin-right: 20px;
}

.user .portfolioArea .editPageButns .uploadProfile {
  border-color: white;
  border-style: solid;
  border-radius: 30px;
  width: 100px;
  padding: 5px;
  margin-bottom: 4rem;
  margin-right: 20px;
}

.user .portfolioArea .editPageButns .editPortfolio p {
  padding-left: 4rem;
  padding-right: 4rem;
}
.user .portfolioArea .editPageButns .editProfile p {
  padding-left: 4rem;
  padding-right: 4rem;
}

.user .pictureArea {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  justify-items: center;
  grid-gap: 10px;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
  margin-top: -2rem;
}

.image img {
  object-fit: cover;
  width: 100%;
  height: 33vh;
}

.socialMedia {
  color: white;
  width: 200px;
  justify-content: space-around;
  margin-top: 3rem;
  margin-left: 55rem;
  margin-left: auto;
  order: 2;
  display: flex;
}

html,
body {
  overflow-x: hidden;
}
