@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.subNavbar .content {
  background: black;
  display: inline-block;
  width: 100%;
  padding-top: 15px;
  height: 40px;
  text-align: center;
}
.subNavbar .content .links {
  display: flex;
  justify-content: space-evenly;
  width: 100px;
  text-align: center;
  margin-top: 0rem;
  margin: auto;
  list-style-type: none;
  font-size: 16px;
  gap: 15px;
  color: white;
}

.subNavbar .content .links .subNav {
  color: white;
}
.subNavbar .content .links .subNav-active {
  color: #7fffd4 !important;
  border-color: white !important;
}
.subNavbar .content .links li {
  display: inline-flex;
  vertical-align: middle;
  padding-left: 4rem;
  padding-right: 4rem;
  margin-right: 0px;
}

.subNavbar .content .links li:hover {
  color: #7fffd4;
}

.subNavbar {
  font-family: "Roboto", sans-serif;
}

@media only screen and (max-width: 1600px) {
  .subNavbar .content .links {
    margin-left: 45rem;
  }
  .subNavbar .content .links li {
    padding-left: 4rem;
    padding-right: 4rem;
    margin-right: 0px;
  }
}

@media only screen and (max-width: 1500px) {
  .subNavbar .content .links {
    margin-left: 40rem;
  }
  .subNavbar .content .links li {
    padding-left: 4rem;
    padding-right: 4rem;
    margin-right: 0px;
  }
}

@media only screen and (max-width: 1400px) {
  .subNavbar .content .links {
    margin-left: 35rem;
  }
  .subNavbar .content .links li {
    padding-left: 4rem;
    padding-right: 4rem;
    margin-right: 0px;
  }
}

@media only screen and (max-width: 1300px) {
  .subNavbar .content .links {
    margin-left: 30rem;
  }
  .subNavbar .content .links li {
    padding-left: 4rem;
    padding-right: 4rem;
    margin-right: 0px;
  }
}

@media only screen and (max-width: 1200px) {
  .subNavbar .content .links {
    margin-left: 31rem;
  }
  .subNavbar .content .links li {
    padding-left: 4rem;
    padding-right: 4rem;
    margin-right: 0px;
  }
}

@media only screen and (max-width: 1170px) {
  .subNavbar .content .links {
    margin-left: 30rem;
  }
  .subNavbar .content .links li {
    padding-left: 2rem;
    padding-right: 4rem;
    margin-right: 0px;
  }
}

@media only screen and (max-width: 1090px) {
  .subNavbar .content .links {
    margin-left: 27rem;
  }
  .subNavbar .content .links li {
    padding-left: 2rem;
    padding-right: 3rem;
    margin-right: 0px;
  }
}
@media only screen and (max-width: 1010px) {
  .subNavbar .content .links {
    margin-left: 25rem;
  }
  .subNavbar .content .links li {
    padding-left: 1rem;
    padding-right: 3rem;
    margin-right: 0px;
  }
}

@media only screen and (max-width: 956px) {
  .subNavbar .content .links {
    margin-left: 25rem;
  }
  .subNavbar .content .links li {
    padding-left: 1rem;
    padding-right: 3rem;
    margin-right: 0px;
  }
}
@media only screen and (max-width: 878px) {
  .subNavbar .content .links {
    margin-left: 20rem;
  }
  .subNavbar .content .links li {
    padding-left: 2rem;
    padding-right: 2rem;
    margin-right: 0px;
  }
}

@media only screen and (max-width: 810px) {
  .subNavbar .content .links {
    margin-left: 17rem;
  }
  .subNavbar .content .links li {
    padding-left: 1rem;
    padding-right: 1rem;
    margin-right: 0px;
  }
}

@media only screen and (max-width: 710px) {
  .subNavbar .content .links {
    margin-left: 15rem;
  }
  .subNavbar .content .links li {
    padding-left: 0rem;
    padding-right: 1rem;
    margin-right: 0px;
  }
}

@media only screen and (max-width: 630px) {
  .subNavbar .content .links {
    margin-left: 13.5rem;
  }
  .subNavbar .content .links li {
    padding-left: 0rem;
    padding-right: 0rem;
    margin-right: 0px;
  }
}

@media only screen and (max-width: 656px) {
  .subNavbar .content .links .l1 {
    font-size: 15px;
    gap: 10px;
    border-style: none;
    border-right: none red !important;
  }
  .subNavbar .content .links li {
    padding-left: 0rem;
    padding-right: 1rem;
    margin-right: 0px;
  }
}
